:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  overflow: hidden;
  height: 960px;
  width: 960px;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: gray;
}

#favcolor {
  border-radius: 100%;
  height: 27px;
  width: 27px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  padding: 0;
}

#favcolor::-webkit-color-swatch-wrapper {
  padding: 3px;	
}
#favcolor::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}

label {
  margin: 0;
}