:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {  
  overflow: hidden;
  height : 960px;
  width: 960px;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  height: 100%;
  width: 100%;
  padding: 1em;
  text-align: center;
  background-color: gray;
}